body {
	width: 100%;
    height: 100vh;
    display: flex;
	justify-content: center;
}

html {
	display: flex;
	justify-content: center;
} 


#dumpithere {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}